<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.somnus.mybatis.dao.MerAccountDao" >
  <resultMap id="BaseResultMap" type="com.somnus.mybatis.domain.MerAccount" >
    <id column="ACCT_ID" property="acctId" jdbcType="INTEGER" />
    <result column="ACCT_CODE" property="acctCode" jdbcType="VARCHAR" />
    <result column="MER_CODE" property="merCode" jdbcType="VARCHAR" />
    <result column="ACCT_NAME" property="acctName" jdbcType="VARCHAR" />
    <result column="CURRENCY" property="currency" jdbcType="VARCHAR" />
    <result column="BANK_CODE" property="bankCode" jdbcType="VARCHAR" />
    <result column="BANK_NAME" property="bankName" jdbcType="VARCHAR" />
    <result column="BANK_KEY" property="bankKey" jdbcType="VARCHAR" />
    <result column="BRANCH_CODE" property="branchCode" jdbcType="VARCHAR" />
    <result column="BRANCH_NAME" property="branchName" jdbcType="VARCHAR" />
    <result column="BANK_ACCT_NO" property="bankAcctNo" jdbcType="VARCHAR" />
    <result column="BANK_ACCT_NAME" property="bankAcctName" jdbcType="VARCHAR" />
    <result column="STL_TYPE" property="stlType" jdbcType="VARCHAR" />
    <result column="BAL_FLOOR" property="balFloor" jdbcType="DECIMAL" />
    <result column="AUTO_TRANSFER" property="autoTransfer" jdbcType="INTEGER" />
    <result column="MIN_TRANSFER" property="minTransfer" jdbcType="DECIMAL" />
    <result column="TRANSFER_PERIOD" property="transferPeriod" jdbcType="VARCHAR" />
    <result column="IS_AUTO_STL" property="isAutoStl" jdbcType="CHAR" />
    <result column="BEGIN_TRANSFER" property="beginTransfer" jdbcType="VARCHAR" />
    <result column="TRANSFER_PRIORITY" property="transferPriority" jdbcType="INTEGER" />
    <result column="ALLOW_IN" property="allowIn" jdbcType="CHAR" />
    <result column="ALLOW_OUT" property="allowOut" jdbcType="CHAR" />
    <result column="OUT_FLAG" property="outFlag" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="OPER_FLAG" property="operFlag" jdbcType="VARCHAR" />
    <result column="EFFECT_DATE" property="effectDate" jdbcType="VARCHAR" />
    <result column="LOSE_EFFECT_DATE" property="loseEffectDate" jdbcType="VARCHAR" />
    <result column="MODIFY_BY" property="modifyBy" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ACCT_ID, ACCT_CODE, MER_CODE, ACCT_NAME, CURRENCY, BANK_CODE, BANK_NAME, BANK_KEY, 
    BRANCH_CODE, BRANCH_NAME, BANK_ACCT_NO, BANK_ACCT_NAME, STL_TYPE, BAL_FLOOR, AUTO_TRANSFER, 
    MIN_TRANSFER, TRANSFER_PERIOD, IS_AUTO_STL, BEGIN_TRANSFER, TRANSFER_PRIORITY, ALLOW_IN, 
    ALLOW_OUT, OUT_FLAG, REMARK, VERSION, STATUS, OPER_FLAG, EFFECT_DATE, LOSE_EFFECT_DATE, 
    MODIFY_BY, MODIFY_TIME
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Integer" >
    select 
    <include refid="Base_Column_List" />
    from tcim_mer_account
    where ACCT_ID = #{acctId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByAcctcode" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from tcim_mer_account
    where 
    ACCT_CODE = #{acctCode,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByCondition" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tcim_mer_account
    <where>
        <trim prefix="(" suffix=")" prefixOverrides="and | AND">
            <if test="acctCode != null">
                and ACCT_CODE = #{acctCode,jdbcType=VARCHAR}
            </if>
            <if test="bankCode != null">
                and BANK_CODE = #{bankCode,jdbcType=VARCHAR}
            </if>
        </trim>
    </where>
  </select>
  <!-- 此 动态语句不用trim标签也可以，有点颇感意外-->
  <select id="selectByCondition_" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tcim_mer_account
    <where>
        <if test="acctCode != null">
            and ACCT_CODE = #{acctCode,jdbcType=VARCHAR}
        </if>
        <if test="bankCode != null">
            and BANK_CODE = #{bankCode,jdbcType=VARCHAR}
        </if>
    </where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="Integer" >
    delete from tcim_mer_account
    where ACCT_ID = #{acctId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.somnus.mybatis.domain.MerAccount" >
    insert into tcim_mer_account (ACCT_ID, ACCT_CODE, MER_CODE, 
      ACCT_NAME, CURRENCY, BANK_CODE, 
      BANK_NAME, BANK_KEY, BRANCH_CODE, 
      BRANCH_NAME, BANK_ACCT_NO, BANK_ACCT_NAME, 
      STL_TYPE, BAL_FLOOR, AUTO_TRANSFER, 
      MIN_TRANSFER, TRANSFER_PERIOD, IS_AUTO_STL, 
      BEGIN_TRANSFER, TRANSFER_PRIORITY, ALLOW_IN, 
      ALLOW_OUT, OUT_FLAG, REMARK, 
      VERSION, STATUS, OPER_FLAG, 
      EFFECT_DATE, LOSE_EFFECT_DATE, MODIFY_BY, 
      MODIFY_TIME)
    values (#{acctId,jdbcType=INTEGER}, #{acctCode,jdbcType=VARCHAR}, #{merCode,jdbcType=VARCHAR}, 
      #{acctName,jdbcType=VARCHAR}, #{currency,jdbcType=VARCHAR}, #{bankCode,jdbcType=VARCHAR}, 
      #{bankName,jdbcType=VARCHAR}, #{bankKey,jdbcType=VARCHAR}, #{branchCode,jdbcType=VARCHAR}, 
      #{branchName,jdbcType=VARCHAR}, #{bankAcctNo,jdbcType=VARCHAR}, #{bankAcctName,jdbcType=VARCHAR}, 
      #{stlType,jdbcType=VARCHAR}, #{balFloor,jdbcType=DECIMAL}, #{autoTransfer,jdbcType=INTEGER}, 
      #{minTransfer,jdbcType=DECIMAL}, #{transferPeriod,jdbcType=VARCHAR}, #{isAutoStl,jdbcType=CHAR}, 
      #{beginTransfer,jdbcType=VARCHAR}, #{transferPriority,jdbcType=INTEGER}, #{allowIn,jdbcType=CHAR}, 
      #{allowOut,jdbcType=CHAR}, #{outFlag,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{version,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR}, #{operFlag,jdbcType=VARCHAR}, 
      #{effectDate,jdbcType=VARCHAR}, #{loseEffectDate,jdbcType=VARCHAR}, #{modifyBy,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.somnus.mybatis.domain.MerAccount" >
    insert into tcim_mer_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="acctId != null" >
        ACCT_ID,
      </if>
      <if test="acctCode != null" >
        ACCT_CODE,
      </if>
      <if test="merCode != null" >
        MER_CODE,
      </if>
      <if test="acctName != null" >
        ACCT_NAME,
      </if>
      <if test="currency != null" >
        CURRENCY,
      </if>
      <if test="bankCode != null" >
        BANK_CODE,
      </if>
      <if test="bankName != null" >
        BANK_NAME,
      </if>
      <if test="bankKey != null" >
        BANK_KEY,
      </if>
      <if test="branchCode != null" >
        BRANCH_CODE,
      </if>
      <if test="branchName != null" >
        BRANCH_NAME,
      </if>
      <if test="bankAcctNo != null" >
        BANK_ACCT_NO,
      </if>
      <if test="bankAcctName != null" >
        BANK_ACCT_NAME,
      </if>
      <if test="stlType != null" >
        STL_TYPE,
      </if>
      <if test="balFloor != null" >
        BAL_FLOOR,
      </if>
      <if test="autoTransfer != null" >
        AUTO_TRANSFER,
      </if>
      <if test="minTransfer != null" >
        MIN_TRANSFER,
      </if>
      <if test="transferPeriod != null" >
        TRANSFER_PERIOD,
      </if>
      <if test="isAutoStl != null" >
        IS_AUTO_STL,
      </if>
      <if test="beginTransfer != null" >
        BEGIN_TRANSFER,
      </if>
      <if test="transferPriority != null" >
        TRANSFER_PRIORITY,
      </if>
      <if test="allowIn != null" >
        ALLOW_IN,
      </if>
      <if test="allowOut != null" >
        ALLOW_OUT,
      </if>
      <if test="outFlag != null" >
        OUT_FLAG,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="version != null" >
        VERSION,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="operFlag != null" >
        OPER_FLAG,
      </if>
      <if test="effectDate != null" >
        EFFECT_DATE,
      </if>
      <if test="loseEffectDate != null" >
        LOSE_EFFECT_DATE,
      </if>
      <if test="modifyBy != null" >
        MODIFY_BY,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="acctId != null" >
        #{acctId,jdbcType=INTEGER},
      </if>
      <if test="acctCode != null" >
        #{acctCode,jdbcType=VARCHAR},
      </if>
      <if test="merCode != null" >
        #{merCode,jdbcType=VARCHAR},
      </if>
      <if test="acctName != null" >
        #{acctName,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankKey != null" >
        #{bankKey,jdbcType=VARCHAR},
      </if>
      <if test="branchCode != null" >
        #{branchCode,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null" >
        #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="bankAcctNo != null" >
        #{bankAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="bankAcctName != null" >
        #{bankAcctName,jdbcType=VARCHAR},
      </if>
      <if test="stlType != null" >
        #{stlType,jdbcType=VARCHAR},
      </if>
      <if test="balFloor != null" >
        #{balFloor,jdbcType=DECIMAL},
      </if>
      <if test="autoTransfer != null" >
        #{autoTransfer,jdbcType=INTEGER},
      </if>
      <if test="minTransfer != null" >
        #{minTransfer,jdbcType=DECIMAL},
      </if>
      <if test="transferPeriod != null" >
        #{transferPeriod,jdbcType=VARCHAR},
      </if>
      <if test="isAutoStl != null" >
        #{isAutoStl,jdbcType=CHAR},
      </if>
      <if test="beginTransfer != null" >
        #{beginTransfer,jdbcType=VARCHAR},
      </if>
      <if test="transferPriority != null" >
        #{transferPriority,jdbcType=INTEGER},
      </if>
      <if test="allowIn != null" >
        #{allowIn,jdbcType=CHAR},
      </if>
      <if test="allowOut != null" >
        #{allowOut,jdbcType=CHAR},
      </if>
      <if test="outFlag != null" >
        #{outFlag,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="operFlag != null" >
        #{operFlag,jdbcType=VARCHAR},
      </if>
      <if test="effectDate != null" >
        #{effectDate,jdbcType=VARCHAR},
      </if>
      <if test="loseEffectDate != null" >
        #{loseEffectDate,jdbcType=VARCHAR},
      </if>
      <if test="modifyBy != null" >
        #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.somnus.mybatis.domain.MerAccount" >
    update tcim_mer_account
    <set >
      <if test="acctCode != null" >
        ACCT_CODE = #{acctCode,jdbcType=VARCHAR},
      </if>
      <if test="merCode != null" >
        MER_CODE = #{merCode,jdbcType=VARCHAR},
      </if>
      <if test="acctName != null" >
        ACCT_NAME = #{acctName,jdbcType=VARCHAR},
      </if>
      <if test="currency != null" >
        CURRENCY = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="bankCode != null" >
        BANK_CODE = #{bankCode,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null" >
        BANK_NAME = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankKey != null" >
        BANK_KEY = #{bankKey,jdbcType=VARCHAR},
      </if>
      <if test="branchCode != null" >
        BRANCH_CODE = #{branchCode,jdbcType=VARCHAR},
      </if>
      <if test="branchName != null" >
        BRANCH_NAME = #{branchName,jdbcType=VARCHAR},
      </if>
      <if test="bankAcctNo != null" >
        BANK_ACCT_NO = #{bankAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="bankAcctName != null" >
        BANK_ACCT_NAME = #{bankAcctName,jdbcType=VARCHAR},
      </if>
      <if test="stlType != null" >
        STL_TYPE = #{stlType,jdbcType=VARCHAR},
      </if>
      <if test="balFloor != null" >
        BAL_FLOOR = #{balFloor,jdbcType=DECIMAL},
      </if>
      <if test="autoTransfer != null" >
        AUTO_TRANSFER = #{autoTransfer,jdbcType=INTEGER},
      </if>
      <if test="minTransfer != null" >
        MIN_TRANSFER = #{minTransfer,jdbcType=DECIMAL},
      </if>
      <if test="transferPeriod != null" >
        TRANSFER_PERIOD = #{transferPeriod,jdbcType=VARCHAR},
      </if>
      <if test="isAutoStl != null" >
        IS_AUTO_STL = #{isAutoStl,jdbcType=CHAR},
      </if>
      <if test="beginTransfer != null" >
        BEGIN_TRANSFER = #{beginTransfer,jdbcType=VARCHAR},
      </if>
      <if test="transferPriority != null" >
        TRANSFER_PRIORITY = #{transferPriority,jdbcType=INTEGER},
      </if>
      <if test="allowIn != null" >
        ALLOW_IN = #{allowIn,jdbcType=CHAR},
      </if>
      <if test="allowOut != null" >
        ALLOW_OUT = #{allowOut,jdbcType=CHAR},
      </if>
      <if test="outFlag != null" >
        OUT_FLAG = #{outFlag,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        VERSION = #{version,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="operFlag != null" >
        OPER_FLAG = #{operFlag,jdbcType=VARCHAR},
      </if>
      <if test="effectDate != null" >
        EFFECT_DATE = #{effectDate,jdbcType=VARCHAR},
      </if>
      <if test="loseEffectDate != null" >
        LOSE_EFFECT_DATE = #{loseEffectDate,jdbcType=VARCHAR},
      </if>
      <if test="modifyBy != null" >
        MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ACCT_ID = #{acctId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.somnus.mybatis.domain.MerAccount" >
    update tcim_mer_account
    set ACCT_CODE = #{acctCode,jdbcType=VARCHAR},
      MER_CODE = #{merCode,jdbcType=VARCHAR},
      ACCT_NAME = #{acctName,jdbcType=VARCHAR},
      CURRENCY = #{currency,jdbcType=VARCHAR},
      BANK_CODE = #{bankCode,jdbcType=VARCHAR},
      BANK_NAME = #{bankName,jdbcType=VARCHAR},
      BANK_KEY = #{bankKey,jdbcType=VARCHAR},
      BRANCH_CODE = #{branchCode,jdbcType=VARCHAR},
      BRANCH_NAME = #{branchName,jdbcType=VARCHAR},
      BANK_ACCT_NO = #{bankAcctNo,jdbcType=VARCHAR},
      BANK_ACCT_NAME = #{bankAcctName,jdbcType=VARCHAR},
      STL_TYPE = #{stlType,jdbcType=VARCHAR},
      BAL_FLOOR = #{balFloor,jdbcType=DECIMAL},
      AUTO_TRANSFER = #{autoTransfer,jdbcType=INTEGER},
      MIN_TRANSFER = #{minTransfer,jdbcType=DECIMAL},
      TRANSFER_PERIOD = #{transferPeriod,jdbcType=VARCHAR},
      IS_AUTO_STL = #{isAutoStl,jdbcType=CHAR},
      BEGIN_TRANSFER = #{beginTransfer,jdbcType=VARCHAR},
      TRANSFER_PRIORITY = #{transferPriority,jdbcType=INTEGER},
      ALLOW_IN = #{allowIn,jdbcType=CHAR},
      ALLOW_OUT = #{allowOut,jdbcType=CHAR},
      OUT_FLAG = #{outFlag,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      VERSION = #{version,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=VARCHAR},
      OPER_FLAG = #{operFlag,jdbcType=VARCHAR},
      EFFECT_DATE = #{effectDate,jdbcType=VARCHAR},
      LOSE_EFFECT_DATE = #{loseEffectDate,jdbcType=VARCHAR},
      MODIFY_BY = #{modifyBy,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP}
    where ACCT_ID = #{acctId,jdbcType=INTEGER}
  </update>
</mapper>