<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.somnus.dao.MerAccountDao" >
  <resultMap id="BaseResultMap" type="com.somnus.model.MerAccount" >
    <id column="ACCT_ID" property="acctId" jdbcType="INTEGER" />
    <result column="ACCT_CODE" property="acctCode" jdbcType="VARCHAR" />
    <result column="MER_CODE" property="merCode" jdbcType="VARCHAR" />
    <result column="ACCT_NAME" property="acctName" jdbcType="VARCHAR" />
    <result column="CURRENCY" property="currency" jdbcType="VARCHAR" />
    <result column="BANK_CODE" property="bankCode" jdbcType="VARCHAR" />
    <result column="BANK_NAME" property="bankName" jdbcType="VARCHAR" />
    <result column="BANK_KEY" property="bankKey" jdbcType="VARCHAR" />
    <result column="BRANCH_CODE" property="branchCode" jdbcType="VARCHAR" />
    <result column="BRANCH_NAME" property="branchName" jdbcType="VARCHAR" />
    <result column="BANK_ACCT_NO" property="bankAcctNo" jdbcType="VARCHAR" />
    <result column="BANK_ACCT_NAME" property="bankAcctName" jdbcType="VARCHAR" />
    <result column="STL_TYPE" property="stlType" jdbcType="VARCHAR" />
    <result column="BAL_FLOOR" property="balFloor" jdbcType="DECIMAL" />
    <result column="AUTO_TRANSFER" property="autoTransfer" jdbcType="INTEGER" />
    <result column="MIN_TRANSFER" property="minTransfer" jdbcType="DECIMAL" />
    <result column="TRANSFER_PERIOD" property="transferPeriod" jdbcType="VARCHAR" />
    <result column="IS_AUTO_STL" property="isAutoStl" jdbcType="CHAR" />
    <result column="BEGIN_TRANSFER" property="beginTransfer" jdbcType="VARCHAR" />
    <result column="TRANSFER_PRIORITY" property="transferPriority" jdbcType="INTEGER" />
    <result column="ALLOW_IN" property="allowIn" jdbcType="CHAR" />
    <result column="ALLOW_OUT" property="allowOut" jdbcType="CHAR" />
    <result column="OUT_FLAG" property="outFlag" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="VERSION" property="version" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="OPER_FLAG" property="operFlag" jdbcType="VARCHAR" />
    <result column="EFFECT_DATE" property="effectDate" jdbcType="VARCHAR" />
    <result column="LOSE_EFFECT_DATE" property="loseEffectDate" jdbcType="VARCHAR" />
    <result column="MODIFY_BY" property="modifyBy" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ACCT_ID, ACCT_CODE, MER_CODE, ACCT_NAME, CURRENCY, BANK_CODE, BANK_NAME, BANK_KEY, 
    BRANCH_CODE, BRANCH_NAME, BANK_ACCT_NO, BANK_ACCT_NAME, STL_TYPE, BAL_FLOOR, AUTO_TRANSFER, 
    MIN_TRANSFER, TRANSFER_PERIOD, IS_AUTO_STL, BEGIN_TRANSFER, TRANSFER_PRIORITY, ALLOW_IN, 
    ALLOW_OUT, OUT_FLAG, REMARK, VERSION, STATUS, OPER_FLAG, EFFECT_DATE, LOSE_EFFECT_DATE, 
    MODIFY_BY, MODIFY_TIME
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Integer" >
    select 
    <include refid="Base_Column_List" />
    from tcim_mer_account
    where ACCT_ID = #{acctId,jdbcType=INTEGER}
  </select>
  
  <select id="selectByAcctcode" resultMap="BaseResultMap" parameterType="String" >
    select 
    <include refid="Base_Column_List" />
    from tcim_mer_account
    where 
    ACCT_CODE = #{acctCode,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByCondition" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tcim_mer_account
    <where>
        <trim prefix="(" suffix=")" prefixOverrides="and | AND">
            <if test="acctCode != null">
                and ACCT_CODE = #{acctCode,jdbcType=VARCHAR}
            </if>
            <if test="bankCode != null">
                and BANK_CODE = #{bankCode,jdbcType=VARCHAR}
            </if>
        </trim>
    </where>
  </select>
  <!-- 此 动态语句不用trim标签也可以，有点颇感意外-->
  <select id="selectByCondition_" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tcim_mer_account
    <where>
        <if test="acctCode != null">
            and ACCT_CODE = #{acctCode,jdbcType=VARCHAR}
        </if>
        <if test="bankCode != null">
            and BANK_CODE = #{bankCode,jdbcType=VARCHAR}
        </if>
    </where>
  </select>
  
</mapper>